/* 상단 타이틀 HBox */
#titleHBox {
    -fx-padding: 10;
    -fx-background-color: white;
}

/* 메인 콘텐츠 영역 */
#mainContentArea {
    -fx-background-color: white;
}

/* 검색창 컨테이너 */
#searchContainer {
    -fx-border-color: #cccccc;        /* 회색 테두리 */
    -fx-border-width: 1;              /* 테두리 두께 */
    -fx-border-radius: 6;             /* 둥근 테두리 (옵션) */
    -fx-padding: 4 8;                 /* 안쪽 여백 */
    -fx-background-radius: 6;         /* 배경도 둥글게 */
    -fx-background-color: white;      /* 배경 흰색 (선택) */
}

/* 검색 텍스트 필드 */
#searchField {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-font-family: "Pretendard Regular";
}

/* 검색 아이콘 라벨 */
#searchIcon {
    -fx-font-size: 14px;
    -fx-text-fill: gray;
    -fx-padding: 5;
}

/* 코디 추가 버튼 */
#addButton {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

/* 코디 추가 라벨 */
#addLabel {
    -fx-text-fill: black;
    -fx-font-size: 12;
}

/* 옷장 버튼 */
#wardrobeButton {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

/* 옷장 라벨 */
#wardrobeLabel {
    -fx-text-fill: black;
    -fx-font-size: 12;
}

/* 메인 스크롤 패널 */
#mainScrollPane {
    -fx-background-color: white;
    /*-fx-border-color: transparent;*/
}

/* 코디 그리드 컨테이너 */
#codiGridContainer {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-fill-width: true;
}

/* 상태 라벨 */
#statusLabel {
    -fx-font-size: 16px;
    -fx-text-fill: #666;
}
/* 검색창 */
.search_title {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C0C0C0;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-font-family: "Pretendard Regular";
}
.search_icon:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}
.pagination.no-page-info .page-information {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-padding: 0;
    -fx-font-size: 0;
}


.custom-combo {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-font-family: "Pretendard Regular";
    -fx-font-size: 13px;
    -fx-padding: 4 8;
    -fx-text-fill: #333333;
    -fx-cursor: hand;
}
#observableArrayList {
    -fx-font-family: "Pretendard Regular";
}

.pagination.no-page-info .page-information {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-padding: 0;
    -fx-font-size: 0;
}
.pagination {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-style: none;
}

