/* 카테고리 필터 버튼들 */
#allButton, #topButton, #pantsButton, #dressButton, #bagButton, #outerButton, #shoesButton, #accessoryButton, #etcButton {
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/* 메인 콘텐츠 영역 */
#mainContentArea {
    -fx-background-color: white;
}

/* 즐겨찾기 필터 버튼 */
#favoriteButton {
    -fx-background-color: white;
    -fx-border-color: #C0C0C0;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-family: "Pretendard Regular";
    -fx-font-size: 13px;
    -fx-padding: 6 12;
    -fx-text-fill: #C0C0C0;
    -fx-cursor: hand;
}

/* 검색창 컨테이너 */
#searchContainer {
    -fx-border-color: #cccccc;        /* 회색 테두리 */
    -fx-border-width: 1;              /* 테두리 두께 */
    -fx-border-radius: 6;             /* 둥근 테두리 (옵션) */
    -fx-padding: 4 8;                 /* 안쪽 여백 */
    -fx-background-radius: 6;         /* 배경도 둥글게 */
    -fx-background-color: white;      /* 배경 흰색 (선택) */
}


/* 검색 텍스트 필드 */
#searchField {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-font-family: "Pretendard Regular";
}

/* 검색 아이콘 라벨 */
#searchIcon {
    -fx-font-size: 14px;
    -fx-text-fill: gray;
    -fx-padding: 5;
}

/* 추가하기 버튼 */
#addButton {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

/* 추가하기 라벨 */
#addLabel {
    -fx-text-fill: black;
    -fx-font-size: 12;
}

/* 나만의 코디 버튼 */
#myWardrobeButton {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

/* 나만의 코디 라벨 */
#myWardrobeLabel {
    -fx-text-fill: black;
    -fx-font-size: 12;
}

/* 메인 스크롤 패널 */
#mainScrollPane {
    -fx-background-color: white;
    /*-fx-border-color: transparent;*/
}

/* 콘텐츠 컨테이너 */
#contentContainer {
    -fx-padding: 10;
    -fx-fill-width: true;
    -fx-background-color: white;
}

/* 상태 라벨 */
#statusLabel {
    -fx-font-size: 16px;
    -fx-text-fill: #666;
}

.pagination.no-page-info .page-information {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-padding: 0;
    -fx-font-size: 0;
}
.pagination {
    -fx-background-color: white;
}

#observableArrayList {
    -fx-font-family: "Pretendard Regular";
}
.custom-combo {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-font-family: "Pretendard Regular";
    -fx-font-size: 13px;
    -fx-padding: 4 8;
    -fx-text-fill: #333333;
    -fx-cursor: hand;
}
/* 즐겨찾기 버튼 */
.favoriteButton{
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-font-family: "Pretendard Regular";
    -fx-font-size: 13px;
    -fx-padding: 4 8;
    -fx-text-fill: #333333;
    -fx-cursor: hand;
}

#sortComboBox {
    /*-fx-background-color: #FFF9D9;*/
}
