/* =======================
   공통 배경
   ======================= */
.root {
    -fx-background-color: #F9FBFC;
}

.board_vbox {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20px 0px 0px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 10, 0.2, 0, 4);
}

.board_detail_vbox {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20px 0px 0px 0px;
}

.board_bottom_hbox {
    -fx-alignment: center;
}

/* =======================
   Text 관련
   ======================= */
.title_text,
.header_text,
.content_text,
.codi_text {
    -fx-font-family: "Pretendard Medium";
}

.logo_text {
    -fx-font-family: "Pretendard Bold";
}

.select_title {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C0C0C0;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-font-family: "Pretendard Regular";
}

.search_title {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C0C0C0;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.datail_title_text {
    -fx-text-fill: #000000;
    -fx-font-size: 32px;
    -fx-font-family: "Pretendard Bold";
}

.author_text, .comment_author {
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
    -fx-font-family: "Pretendard Medium";
}

.date_text {
    -fx-text-fill: #5D5D5D;
    -fx-font-size: 14px;
    -fx-font-family: "Pretendard Regular";
}

.content_text  {
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-family: "Pretendard Regular";
}

.content_text, .comment_text  {
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-family: "Pretendard Regular";
}

.like_text {
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-family: "Pretendard SemiBold";
}

.comment_title_text {
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-family: "Pretendard SemiBold";
}

.comment_date {
    -fx-text-fill: #C0C0C0;
    -fx-font-size: 12px;
    -fx-font-family: "Pretendard Regular";
}


/* =======================
   메뉴
   ======================= */
.menu_item {
    -fx-background-color: transparent;
    -fx-padding: 10 20;
    -fx-spacing: 10;
    -fx-alignment: CENTER_LEFT;
    -fx-cursor: hand;
    -fx-background-radius: 12;
}

.menu_item:hover {
    -fx-background-color: #f5f5f5;
}

/* =======================
   테이블 스타일
   ======================= */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #F9F9F9;
}

.table-view .column-header .label {
    -fx-font-size: 14px;
    -fx-font-family: "Pretendard SemiBold";
    -fx-alignment: center;
}

.table-view .table-cell {
    -fx-font-size: 14px;
    -fx-font-family: "Pretendard Regular";
    -fx-padding: 10 0;
    -fx-alignment: center;
}

.table-view .filler,
.table-view .column-header,
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical,
.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-width: 0px;
    -fx-pref-height: 0px;
    -fx-max-width: 0px;
    -fx-max-height: 0px;
    -fx-min-width: 0px;
    -fx-min-height: 0px;
}

/* =======================
   테이블 컬럼별 스타일
   ======================= */
.colNo,
.colTitle,
.colAuthor,
.colDate,
.colLikes {
    -fx-background-color: #F9F9F9;
    -fx-font-size: 14px;
    -fx-font-family: "Pretendard Regular";
}

/* =======================
   Header
   ======================= */
.header_pane {
    -fx-border-color: transparent transparent #C0C0C0 transparent;
    -fx-border-width: 0 0 1px 0;
}

/* =======================
   Content HBox
   ======================= */
.content_hbox {
    -fx-border-color: transparent transparent #C0C0C0 transparent;
    -fx-border-width: 0 0 1px 0;
}

.like_pane {
    -fx-padding: 10 20;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: lightgray;
}


/* =======================
   버튼 스타일
   ======================= */
.gray_stroke_button {
    -fx-padding: 10 20;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-font-family: "Pretendard SemiBold";
    -fx-background-radius: 0;
    -fx-border-radius: 0;

    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: lightgray;
}

.black_background_button {
    -fx-padding: 10 20;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-font-family: "Pretendard SemiBold";
    -fx-background-radius: 0;
    -fx-border-radius: 0;

    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: black;
}

.double_button,
.arrow_button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 13px;
    -fx-cursor: hand;
}

/* =======================
   Modal Button 관련
   ======================= */
.close_button {
    -fx-background-color: white;
    -fx-cursor: hand;
}

/* hover 관련 */
.gray_stroke_button:hover,
.double_button:hover,
.arrow_button:hover {
    -fx-background-color: #f0f0f0;
}

.arrow_button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

/* =======================
   scroll 관련
   ======================= */
.board_scroll_pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
